.experience-page {


    .title {
	margin-bottom: 10px;
    }

    .airfield {
	margin-bottom: 40px;
	.col-12 {
	    text-align: bottom;
	}
    }

    .hide-toolbox {
	.rdw-editor-toolbar {
	    display: none;
	}
    }

}
