.experience-page {

    position: relative;
    .title {
	margin-bottom: 10px;
    }

    .airfield {
	margin-bottom: 40px;
	.col-12 {
	    text-align: bottom;
	}
    }

    .hide-toolbox {
	.rdw-editor-toolbar {
	    display: none;
	}
    }

    .fileContainer {
	box-shadow: none;
    }

    .experience-header {
	position: absolute;
	top: 0;
	z-index: 1000;
	text-align: center;
	width: 100%;
	left: 0; 
    }
    .carousel {
	margin-bottom: 10px;
	.carousel-item {
	    height: 500px;
	    img {
	
		vertical-align: middle;
	    }

	}
    }
    

}
