@import "instrumentPicker.scss";
@import "panelEditor.scss";
@import "landingPage.scss"; 
@import "selectLayout.scss";
@import "suggestDestination.scss";
@import "manageAirfields.scss";
@import "reviewDestinations.scss";
@import "shareExperience.scss";

@import "searchBox.scss";
@import "displayResultsMap.scss";
@import "listExperiences.scss";
@import "Experience.scss";
@import "TripSuggester.scss";


$header-height: 56px; 

html, body, .main, .wrapper, .container {
    height: 100%;
    font-size: 16px;
}

.main2 {
    height: 100%;
}

body {
    /* Margin bottom by footer height */

   // background-color: yellow;

    font-size:0; // windy bug workaround
    .wrapper {
	padding-top: 56px;
//	background-color: pink;
    }

    .container {
	// background-color: green;

    }


    .ReactModal__Overlay {
	z-index: 1;
    }
}


.app-content {
    height: 100%;
}
/* some helpers for the rows */

.fullPageRow, .fullPageCol {
    height: calc(100% - 176px) 
}


.fullPageCol {
    height: 100%;
}

.fullPageCol {
    padding: 0!important;
}


