$header-height: 56px;

html, body, .main, .container {
    height: 100%; 
}

body {
    /* Margin bottom by footer height */

    background-color: yellow;

    .main {
	padding-top: $header-height;
	background-color: pink;
    }

    .container {
	background-color: blue;
	padding-top: $header-height;
    }
    
}



/* some helpers for the rows */

.fullPageRow, .fullPageCol {
    height: 100%; 
}

.fullPageCol {
    padding: 0!important;
}
